<main class="message">
  <div class="row animated fadeIn">
    <div class="col-md-12 header-buttons">
      <button *ngIf="allcheck_id_count==1" type="button" class="edit-button" [routerLink]="['edit-project',projectDetails.project_ba_id]"
        [appCheckPermission]="'SELF-BA.PROJECTS.EDIT'">
        <i class="fa fa-pencil"></i>
        Edit
      </button>
    </div>

    <div class="table-wrap expense-claim-table">
      <table class="table table-striped" id="claim_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="row-border hover" style="width: 100%">
        <thead>
          <tr class="custom-th">
            <th style="width: 40px">
            </th>
            <th style="width: 180px">Project Name</th>
            <th style="width: 150px">Created On</th>
            <th style="width: 180px">Estimated Hours</th>
            <th style="width: 100px">Status</th>
          </tr>
        </thead>
        <tbody *ngIf="allProjects.length > 0;else no_data">
          <tr *ngFor="let project of allProjects" (click)="checkone(project.id);$event.stopPropagation()">
            <td>
              <input type="checkbox" name="checkselection" value={{project.id}} class="formcontrol" class="formcontrol"
                [(ngModel)]="project.isSelected" (click)="checkone(project.id);$event.stopPropagation()" />
              <label></label>
            </td>
            <td>
              <span class="table-txt">{{ project.project_name }}</span>
            </td>
            <td><span class="table-txt">{{ project.created_at.date | dateFilter }} {{project.created_at.date |
                date:'h:mm a'}}</span></td>
            <td><span class="table-txt">{{ project.est_time!==0 ? project.est_time : '-' }}</span></td>
            <td>
              <span class="status" [ngClass]="(project.sr_flag_key=='comment_sent' || project.sr_flag_key=='comment_received') ? 'comment-tag' : (project.sr_flag_key=='pending' ? 'pending-tag' : 'approve-tag')">
                {{project.sr_flag_value}}</span>
            </td>
          </tr>
        </tbody>
        <ng-template #no_data>
          <tbody>
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </ng-template>
      </table>
    </div>
    <div *ngIf="allcheck_id_count==1;else default" class="description-wrap">
      <div class="custom-detail green-txt">Project Details</div>
      <span class="status" [ngClass]="(projectDetails.sr_flag_key=='comment_sent' || projectDetails.sr_flag_key=='comment_received')
      ? 'comment-tag' 
      : projectDetails.sr_flag_key=='pending' 
      ? 'pending-tag' 
      : 'approve-tag'">
        {{projectDetails.sr_flag_value}}</span>
      <div class="description-detail">
        <div class="right-part-content">
          <span class="left-part">Project Name</span>
          <span class="right-part">{{projectDetails.project_name}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Client Name</span>
          <span class="right-part">{{projectDetails.client_name}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Project Document</span>
          <ng-container *ngIf="projectDetails.project_doc.length > 0; else nullData">
            <a *ngFor="let doc of projectDetails.project_doc" target="blank" href="{{FILE_URL}}{{doc}}">
              {{doc}}
            </a>
          </ng-container>
          <ng-template #nullData>
            -
          </ng-template>
        </div>
        <div class="right-part-content">
          <span class="left-part">Client Email</span>
          <span class="right-part">{{projectDetails.client_email}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Skype Contact</span>
          <span class="right-part">{{projectDetails.skype_contact}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Created On</span>
          <span class="right-part">{{projectDetails.created_at.date | dateFilter}} {{projectDetails.created_at.date |
            date:'h:mm a'}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Estimated Hours</span>
          <span class="right-part">{{projectDetails.est_time ? projectDetails.est_time : '-'}}</span>
        </div>
      </div>
      <div class="right-part-content">
        <div class="custom-detail  green-txt">Project Description</div>
        <span>{{projectDetails.project_description}}</span>
      </div>
      <div class="custom-detail  green-txt">Assigned Ba</div>
      <ng-container *ngIf="jrBAs;else noBA">
        <div class="right-part-content" *ngFor="let jr of jrBAs">
          <span class="custom-emp-img">
            <img style="width: 38px; height: 38px" *ngIf="jr.profile_image ;else other_content" [src]=IMAGE_URL+jr.profile_image
              class="img-avatar" />
            <ng-template #other_content>
              <img style="width: 38px; height: 38px" [src]="employee_image" class="img-avatar" />
            </ng-template>
          </span><a class="emp-name blue-txt">
            {{jr.firstname }} {{jr.lastname }}</a>
          <div class="right-part-content">
            <span class="left-part">Jr BA Status</span>
            <span class="status right-part" *ngIf="jr.key_text;else noBA" [ngClass]="(jr.key_text=='comment_sent' || jr.key_text=='comment_received') ? 'comment-tag' :jr.key_text=='pending' ? 'pending-tag' : 'approve-tag'">
              {{jr.value_text}}
            </span>
          </div>

          <div class="right-part-content">
            <span class="left-part">Estimated Hours</span>
            <span class="right-part">{{jr.est_time ? jr.est_time : '-'}}</span>
          </div>
        </div>
      </ng-container>
      <ng-template #noBA>
        -
      </ng-template>
    </div>
  </div>

  <ng-template class="test_content" #default>
    <div class="abc">
      <h3> Select a row to view it's Detail</h3>
    </div>
  </ng-template>

  <ng-template #delete>
    <div class="center img-center">
      <img src="../../../assets/img/avatars/cancel.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
    </div>
    <div class="modal-body modal-body-txt">
      <h4 class="modal-title title-center">Delete?</h4>
      <p class="caption-txt">Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer modal-footer-buttons">
      <button type="button" class="modal-cancel-button" (click)="closeModel()">Cancel</button>
      <button type="button" class="modal-delete-button" (click)="deleteExpense()">Delete</button>
    </div>
  </ng-template>

</main>
