<main class="message">

  <div class="animated fadeIn">
    <div class="col-md-12 header-buttons setting-header">
      <button type="button" class="new-button" (click)="openModal(template)" [appCheckPermission]="'DEPARTMENTS.ADD'">
        <i class="fa fa-plus"></i>
        New
      </button>
      <button *ngIf="allcheck_id_count" type="button" class="edit-button" (click)="EditDepartment(edittemplate)"
        [appCheckPermission]="'DEPARTMENTS.EDIT'">
        <i class="fa fa-pencil"></i>
        Edit
      </button>
      <button *ngIf="allcheck_id_count==1 && delete_allowed" type="button" class="del-button" (click)="deleteModel(delete)"
        [appCheckPermission]="'DEPARTMENTS.DELETE'">
        <i class="fa fa-trash "></i>
        Delete
      </button>

      <!-- <div class="search-section">
        <input type="text" placeholder="Search..." [(ngModel)]="search" class="search-box">
      </div> -->
    </div>

    <div class="table-wrap setting-table dept-table">
      <!-- <table class="table table-striped" style="width: 100%" [mfData]="(dept|filter:search)" #mf="mfDataTable"
        [mfRowsOnPage]="15">
        <thead>
          <tr class="custom-th">
            <th style="width: 3%">
              <input type="checkbox" [(ngModel)]="allcheck_id" (click)="checkboxHeader($event)" />
              <label></label>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="employees">No. Of Employee</mfDefaultSorter>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>
              <input type="checkbox" name="checkselection" value={{item.id}} class="formcontrol" class="formcontrol"
                [(ngModel)]="item.isSelected" (click)="checkone(item.id)" />
              <label></label>
            </td>
            <td>{{item.name}}</td>
            <td>{{item.employees}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table> -->

      <table class="table table-striped" id="claim_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="row-border hover">
        <thead>
          <tr class="custom-th">
            <th class="check-box" style="width:5%">
              <input type="checkbox" [(ngModel)]="allcheck_id" (click)="checkboxHeader($event)" />
              <label></label>
            </th>
            <th class="col-name">Name</th>
            <th class="col-name">No. Of Employee</th>
          </tr>
        </thead>
        <tbody *ngIf="dept?.length != 0">
          <tr *ngFor="let item of dept" (click)="checkone(item.id);$event.stopPropagation()">
            <td>
              <input type="checkbox" name="checkselection" value={{item.id}} class="formcontrol" class="formcontrol"
                [(ngModel)]="item.isSelected" (click)="checkone(item.id);$event.stopPropagation()" />
              <label></label>
            </td>
            <td><span class="table-txt">{{item.name}}</span></td>
            <td><span class="table-txt">{{item.employees}}</span></td>
          </tr>
        </tbody>
        <tbody *ngIf="dept?.length == 0">
          <tr>
            <td colspan="3" class="no-data-available">No data!</td>
          </tr>
        <tbody>
      </table>



    </div>
  </div>


  <ng-template #template>
    <div class="new-modal-content">
      <!-- <div class="modal-header"> -->
      <h4 class="modal-title new-modal-title">Manage Department</h4>
      <button type="button" class="close new-close-btn" (click)="closeModel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- </div> -->
      <div class="modal-body">
        <label>Enter department names and click on Save.</label>
        <form method="post" [formGroup]="invoiceForm" (ngSubmit)="SaveDepartment()">
          <div class="row dept-wrap">
            <div class="col-md-10">
              <input type="text" formControlName="dep_name" class="form-control" placeholder="Department name" ngModel>
            </div>
            <div class="col-md-2 setting-add-button">
              <button type="button" (click)="AddDepartment()" class="btn-primary plus-btn">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

          <div formArrayName="addsub">
            <div *ngFor="let dept of invoiceForm.get('addsub').controls; let i=index" [formGroupName]="i" class="row">
              <div class="col-md-10">
                <input type="text" formControlName="name" class="form-control" placeholder="Department name" ngModel>
              </div>
              <div class="col-sm-1">
                <button class="btn btn-danger cross-btn" (click)="deleteSubRow(i)">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
              </div>

            </div>

          </div>
          <div class="modal-footer modal-footer-buttons setting-footer-modal">
            <button type="button" class="modal-cancel-button" (click)="closeModel()">Close</button>
            <button type="submit" class="modal-delete-button" [disabled]="invoiceForm.invalid">Add Department</button>
          </div>
        </form>

      </div>
      <!-- /.modal-content -->
      <!-- </div> -->
      <!-- /.modal-dialog -->

      <!--</div>-->
    </div>
  </ng-template>


  <ng-template #edittemplate>
    <div class="modal-content edit-modal-content">
      <!-- <div class="modal-header"> -->
      <h4 class="modal-title edit-modal-title">Manage Department</h4>
      <button type="button" class="close edit-close-btn" (click)="closeModel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- </div> -->

      <div class="modal-body">
        <label>Update department names and click on Save.</label>
        <form method="post" [formGroup]="editForm" (ngSubmit)="editdepartment()">
          <div formArrayName="editdept">
            <div *ngFor="let dept123 of editForm.get('editdept').controls; let i=index" [formGroupName]="i">
              <!--<div *ngIf="dept_edit[i] && dept_edit[i].isSelected">-->
              <div class="row">
                <div class="col-md-10">
                  <input type="hidden" name="id" formControlName="id">
                  <input type="text" formControlName="name" class="form-control" placeholder="Department name">
                </div>
              </div>
              <!--</div>-->
            </div>
            <!-- </div> -->
            <!-- <div class="edit-modal-footer"> -->
            <div class="modal-footer modal-footer-buttons setting-footer-modal">
              <button type="button" class="modal-cancel-button" (click)="closeModel()">Close</button>
              <button type="submit" class="modal-delete-button" [disabled]="editForm.invalid">Edit Department</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>

  </ng-template>


  <ng-template #delete>
    <div class="center img-center">
      <img src="../../../assets/img/avatars/cancel.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
    </div>
    <div class="modal-body modal-body-txt">
      <h4 class="modal-title title-center">Delete?</h4>
      <p class="caption-txt">Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer modal-footer-buttons">
      <button type="button" class="modal-cancel-button" (click)="closeModel()">Cancel</button>
      <button type="button" class="modal-delete-button" (click)="deletedepartment()">Delete</button>
    </div>
  </ng-template>
</main>
