<main class="message">
  <div class="animated fadeIn">
    <form class="m-form" [formGroup]="changePasswordForm" (ngSubmit)="SavePassword_update()" #changepassword="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" style="background-color:#42A5F5;color: white;">
              <h4><i class="fa fa-info-circle"></i> Detail</h4>
            </div>
            <div class="card-body form-padding">
              <input type="hidden" [(ngModel)]="user.id" name="id" formControlName="id" class="form-control m-input">
              <div class="row">
                <div class="col-md-12 form-group">
                  <label class="f-700 control-label">Old Password</label>
                  <input type="password" name="password" [(ngModel)]="user.password" formControlName="password"
                    [ngClass]="(changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid&&changepassword.submitted)?'is-invalid':''"
                    id="password" class="form-control m-input" placeholder="Enter Old Password">
                  <div class="invalid-feedback" *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid &&changepassword.submitted">
                    Old Password required
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <label class="f-700 control-label">New Password</label>
                  <input type="password" name="new_password" [(ngModel)]="user.new_password" [ngClass]="(changePasswordForm.get('new_password').touched && changePasswordForm.get('new_password').invalid &&changepassword.submitted)?'is-invalid':''"
                    formControlName="new_password" required id="new_password" class="form-control m-input" placeholder="Enter New Password">
                  <div class="invalid-feedback" *ngIf="changePasswordForm.get('new_password').touched && changePasswordForm.get('new_password').invalid &&changepassword.submitted">
                    New Password required
                  </div>
                </div>
                <div class="col-md-12 form-group">
                  <label class="f-700 control-label">Confirm New Password</label>
                  <input type="password" name="confirm_new_password" [ngClass]="(changePasswordForm.get('confirm_new_password').touched && changePasswordForm.get('confirm_new_password').invalid &&changepassword.submitted)?'is-invalid':''"
                    [(ngModel)]="user.confirm_new_password" formControlName="confirm_new_password" id="confirm_new_password"
                    class="form-control m-input" placeholder="Re-enter New Password">
                  <div class="invalid-feedback" *ngIf="changePasswordForm.get('confirm_new_password').touched && changePasswordForm.get('confirm_new_password').invalid &&changepassword.submitted">
                    Confirm password is not match with New password
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group txt-center">
            <button class="btn btn-primary create-btn" type="submit" *ngIf="this.editAllowed">
              Update
            </button>
            <button class="btn cancel-btn" type="button" (click)="cancel()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
