table#claim_table tr td input[type="checkbox"]+label:before,
table#claim_table tr td input[type="checkbox"]:checked+label:after {
  left: 30px;
}

table#claim_table tr td input[type="checkbox"] {
  left: 48px;
}

.status {
  min-width: 88px;
}
.description-wrap{    margin-top: 0px;}
.description-wrap h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2196f3;
  text-transform: capitalize;
}
.table-wrap table#claim_table
{border-top:0;}

span.color-closed {
  background: #9e9e9e;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 1.5px 6.9px;
  text-transform: capitalize;
  float: left;
  display: block;
  text-align: center;
}

.right-part-title {
  float: left;
  width: 100%;
  text-align: left;
}

.custom-status {
  margin-right: 15px;
}

.description-detail {
  padding-top: 10px
}

.email {
  text-transform: lowercase;
  color: #2196f3
}

.abc,
.description-wrap {
  width: 26.2%
}

@media(max-width:1500px) {

  .abc,
  .description-wrap {
    width: 25%
  }
}

@media(max-width:1400px) {

  .abc,
  .description-wrap {
    width: 24.7%;
  }
}

.self-job-application-table {
  margin-top: 0px;
}

.no-data {
  margin-top: 0px;
}
