<main class="message">
  <div class="animated fadeIn">
    <div class="col-md-12" [ngClass]="allcheck_id_count==1 ? 'header-buttons': ''">
      <button *ngIf="allcheck_id_count==1" type="button " class="edit-button"
        [appCheckPermission]="'SELF-COMPANY-POLICY.VIEW'" [routerLink]="['../view',selectedPolicy.id]">
        <i class="fa fa-eye"></i>
        View
      </button>
    </div>

    <div class="table-wrap expense-claim-table">
      <table class="table table-striped" id="claim_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
        class="row-border hover" style="width: 100%">
        <thead>
          <tr class="custom-th">
            <th style="width: 40px">
            </th>
            <th style="width: 180px">Title</th>
            <th style="width: 100px">Created</th>
            <th style="width: 180px">Doc</th>
          </tr>
        </thead>
        <tbody *ngIf="policyData.length > 0;else no_data">
          <tr *ngFor="let person of policyData" (click)="checkone(person.id);$event.stopPropagation()">
            <td>
              <input type="checkbox" name="checkselection" value={{person.id}} class="formcontrol" class="formcontrol"
                [(ngModel)]="person.isSelected" (click)="checkone(person.id);$event.stopPropagation()" />
              <label></label>
            </td>
            <td>
              <span class="table-txt">{{ person.title }}</span>
            </td>
            <td><span class="table-txt">{{ person.created_at.date | dateFilter }}</span></td>
            <td>
              <span class="table-txt">
                <a target="blank" *ngIf="person.policy_doc;else no_datas" href="{{FILE_URL}}{{person.policy_doc}}">
                  {{person.policy_doc}}
                </a>
                <ng-template #no_datas>
                  -
                </ng-template>
              </span>
            </td>
          </tr>
        </tbody>
        <ng-template #no_data>
          <tbody>
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </ng-template>
      </table>
    </div>

    <div *ngIf="allcheck_id_count==1;else other_content" class="description-wrap">
      <div class="custom-scroll">
        <div class="description-detail">
          <div class="right-part-content">
            <span class="left-part">Title</span>
            <span class="right-part">{{policyDetails.title}}</span>
          </div>
          <div class="right-part-content">
            <span class="left-part">Policy Doc</span>
            <span class="right-part" *ngIf="policyDetails.policy_doc;else no_data">
              <a target="blank" href="{{FILE_URL}}{{policyDetails.policy_doc}}">
                {{policyDetails.policy_doc}}
              </a>
            </span>
            <ng-template #no_data>
              -
            </ng-template>
          </div>
          <div class="right-part-content">
            <span class="left-part">Short Description</span>
            <span class="right-part"
              innerHTML="{{policyDetails.short_description}}">{{policyDetails.short_description}}</span>
          </div>
          <div class="right-part-content right_long_description ">
            <span class="left-part">Long Description</span>
            <span class="right-part"
              innerHTML="{{policyDetails.long_description}}">{{policyDetails.long_description}}</span>
          </div>



        </div>

      </div>
    </div>
  </div>


  <ng-template class="test_content" #other_content>
    <div class="abc">
      <h3> Select a row to view it's Detail</h3>
    </div>
  </ng-template>

  <ng-template #delete>
    <div class="center img-center">
      <img src="../../../assets/img/avatars/cancel.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
    </div>
    <div class="modal-body modal-body-txt">
      <h4 class="modal-title title-center">Delete?</h4>
      <p class="caption-txt">Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer modal-footer-buttons">
      <button type="button" class="modal-cancel-button" (click)="closeModel()">Cancel</button>
      <button type="button" class="modal-delete-button" (click)="deleteExpense()">Delete</button>
    </div>
  </ng-template>

</main>
