<main class="message">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12 header-buttons">

        <button type="button" class="button new-button" [routerLink]="'create-expense'" [appCheckPermission]="'EXPENSE.VIEW-EXPENSE.VIEW'">
          <i class="fa fa-plus"></i>
          New
        </button>
        <button *ngIf="allcheck_id_count==1" type="button" class="button edit-button" (click)="EditContact()"
          [appCheckPermission]="'EXPENSE.VIEW-EXPENSE.EDIT'">
          <i class="fa fa-pencil"></i>
          Edit
        </button>
        <button *ngIf="allcheck_id_count" type="button" class="button del-button" (click)="openModel(delete)"
          [appCheckPermission]="'EXPENSE.VIEW-EXPENSE.DELETE'">
          <i class="fa fa-trash "></i>
          Delete
        </button>
        <!-- <div class="search-section">
        <input class="search-box ng-pristine ng-valid ng-touched" placeholder="Search..." type="text" [(ngModel)]="search">
      </div> -->
      </div>

        <!-- <table class="table table-striped" style="width: 100%" [mfData]="(expense_data|filter:search)" #mf="mfDataTable"
        [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 3%">
              <input id="" type="checkbox" [(ngModel)]="allcheck_id" (click)="checkboxHeader($event)" />
              <label for=""></label>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="title">Expense</mfDefaultSorter>
            </th>
            <th style="width: 22%">
              <mfDefaultSorter by="category_name">Category</mfDefaultSorter>
            </th>
            <th style="width: 21%">
              <mfDefaultSorter by="amount">Amount</mfDefaultSorter>
            </th>
            <th style="width: 22%">
              <mfDefaultSorter by="bill_date">Bill Date</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <td>
              <input type="checkbox" name="checkselection" value={{item.id}} class="formcontrol" class="formcontrol"
                [(ngModel)]="item.isSelected" (click)="checkone(item.id)" />
              <label></label>

            </td>
            <td>{{item.title}}</td>
            <td>{{item.category_name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.bill_date}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table> -->
      <div class="table-wrap manger-expense-table">
        <table class="table table-striped" id="claim_table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="row-border hover" style="width: 100%">
          <thead>
            <tr class="custom-th">
              <th style="width: 40px">
                <input id="" type="checkbox" [(ngModel)]="allcheck_id" (click)="checkboxHeader($event)" />
                <label for=""></label>
              </th>
              <th>Expense</th>
              <th>Category Name</th>
              <th>Amount</th>
              <th>Bill Date</th>
            </tr>
          </thead>
          <tbody *ngIf="expense_data?.length != 0">
            <tr *ngFor="let person of expense_data" (click)="checkone(person.id);$event.stopPropagation()">
              <td>
                <input type="checkbox" name="checkselection" value={{person.id}} class="formcontrol" class="formcontrol"
                  [(ngModel)]="person.isSelected" (click)="checkone(person.id);$event.stopPropagation()" />
                <label></label>
              </td>
              <td><span class="table-txt">{{ person.title }}</span></td>
              <td><span class="table-txt">{{ person.name }}</span></td>
              <td><span class="table-txt">{{ person.amount }}</span></td>
              <!-- <td><span class="table-txt">{{ person.bill_date.date | date:'MMM d, y' }}</span></td> -->
              <td><span class="table-txt">{{ person.bill_date.date | dateFilter }}</span></td>
            </tr>
          </tbody>
          <tbody *ngIf="expense_data?.length == 0">
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </div>


      <div *ngIf="allcheck_id_count==1;else other_content" class="description-wrap">
        <div class="right-part-content">
          <div class="custom-title">{{expensedetail.title}}</div>
          <div class="custom-txt">{{expensedetail.description}}</div>
        </div>
        <div class="custom-details">Details</div>
        <div class="right-part-content">
          <span class="left-part">Category</span>
          <span class="right-part">{{expensedetail.name}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Amount</span>
          <span class="right-part">{{expensedetail.amount}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Bill Date</span>
          <span class="right-part">{{expensedetail.bill_date.date | dateFilter}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Receipt</span>
          <span class="right-part">
            <a *ngIf="expensedetail.receipt_image; else nullData" target="blank" href="{{FILE_URL}}{{expensedetail.receipt_image}}">
              {{expensedetail.receipt_image}}
            </a>
            <ng-template #nullData>
              -
            </ng-template>
          </span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Payment Method</span>
          <span class="right-part">{{expensedetail.payment_method}}</span>
        </div>
        <div class="right-part-content">
          <span class="left-part">Merchant</span>
          <span class="right-part">{{expensedetail.merchant}}</span>
        </div>

        <div class="expense-right-part">
          <div class="custom-details">Submitted By</div>

          <div class="custom-list">
            <div class="emp-img">
              <img style="width: 38px; height: 38px" *ngIf="expensedetail.emp_id.profile_image;else other_content"
                [src]=IMAGE_URL+expensedetail.emp_id.profile_image class="img-avatar" />

              <ng-template #other_content>
                <img style="width: 38px; height: 38px" [src]="employee_image" class="img-avatar" />
              </ng-template>
            </div>
            <div class="emp-details">
              {{expensedetail.emp_id['firstname']}} {{expensedetail.emp_id['lastname']}}
            </div>
          </div>
        </div>

        <div class="custom-list" *ngIf="expensedetail.actioned_by">
          <div class="custom-details">Actioned By</div>
          <div class="emp-img">
            <img style="width: 38px; height: 38px" *ngIf="expensedetail.actioned_by['profile_image'];else other_content"
              [src]=IMAGE_URL+expensedetail.actioned_by.profile_image class="img-avatar" />

            <ng-template #other_content>
              <img style="width: 38px; height: 38px" [src]="employee_image" class="img-avatar" />
            </ng-template>
          </div>
          <div class="emp-details">
            {{expensedetail.actioned_by['firstname']}} {{expensedetail.actioned_by['lastname']}}
          </div>

        </div>
      </div>

    </div>
  </div>
  <ng-template class="test_content" #other_content>
    <div class="abc">
      <h3> Select a row to view it's Detail</h3>
    </div>
  </ng-template>
  <ng-template #delete>
    <div class="modal-body modal-body-txt">
      <div class="center img-center">
        <img src="../../../assets/img/avatars/cancel.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
      </div>
      <h4 class="modal-title title-center">Delete?</h4>
      <p class="caption-txt">Do you really want to delete these records? This process cannot be undone.</p>
    </div>
    <div class="modal-footer modal-footer-buttons">
      <button type="button" class="modal-cancel-button" (click)="closeModel()">Cancel</button>
      <button type="button" class="modal-delete-button" (click)="deleteExpense()">Delete</button>
    </div>
  </ng-template>

</main>
