.col-md-12.year-selector {
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.year-selector label {
  float: left;
  margin: 0;
  padding-top: 5px;
  padding-right: 20px;
}

input.expense-tab {
  float: left;
  width: 20%;
}
